<div class="answers">
  <p><%= @question %></p>
  <p><em>- You</em></p>
</div>
<div class="answers">
  <p><%= @answer %></p>
  <p><em>- Your coach</em></p>
</div>

<%= link_to 'Ask another question', '/ask', class: "btn btn-next" %>
