<div class="question">
  <h2>Stupid Coach</h2>
  <p>Ask your coach anything</p>
  <form action="/answer">
    <input type="text" name="question" placeholder="Say what you want to your coach">
    <input type="submit" value="Ask!" class="btn btn-submit">
  </form>
</div>
